{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}

	<div
		class="container-fluid">
		{# Titre de la page #}
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Accueil</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col">Nom de code</th>
					<th scope="col">Pays</th>
					<th scope="col">Agent</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Cible</th>
                    <th scope="col">Type mission</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Planque</th>
                    <th scope="col">Spécialité</th>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>

				</tr>
			</thead>
			<tbody>
				{% for mission in mission %}
					<tr>
						<th scope="row">
							{{ article.id }}
						</th>
						<td>
							{{ article.title }}
						</td>
						<td>
							{{ article.content|nl2br }}
						</td>
						<td>
							{{ article.isPublished ? 'Oui' : 'Non' }}
						</td>
						<td>
							{{ article.author.username }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block stylesheets %}{% endblock %}

